body {
    background-color:rgb(29, 29, 29);
}


.sBttn {
    border-radius: 0 !important;
    border-color: #fff;
}


.containerButtons:hover .sBttn {
    background-color: transparent;
    border-color:#ffffff30;
    color: #ffffff30;
}
.containerButtons .sBttn:hover {
    background-color: #fff;
    border-color: #fff;
    color: black;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 30px 3px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 30px 3px rgba(255,255,255,0.5);
}

.footerTxt {
    text-transform: uppercase;
    font-size: 14px;
    color: #9f9f9f;
}

.jumbotron {
    background-image: url("assets/coverShot.png") !important;
    background-color:darkblue
}

.whiteTxt {
    color: #fff;
}

.footer {
text-align: center;
color: #fff;
bottom: 0;
}

.main {
    margin-bottom: 30vh;
    max-height: 150px;
}

/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */



.cover-container {
  max-width: 42em;
}

.cover-container-reset {
    max-width: 100%;
  }

/*
 * Header
 */

.nav-masthead .nav-link {
  border-bottom: .25rem solid;
  color: #ffffff50;
}

.nav-masthead .active {
    color: #fff;
  }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead:hover .nav-link {
    color: #ffffff50;
    border-bottom-color: #ffffff50;
    border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover {
    color: #fff;
    border-bottom-color: #fff;
}



.headLabel {
    color: #ffffff50;
    font-weight: 100;
}

label {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    color: #29bbff;
    font-size: 16px;
    text-transform: uppercase;
}

.card {
    color: #fff;
    background-color: transparent;
}

.card-body {
    margin: 0%;
    padding: 0%;
    padding-top: 20px;
  }
  .card-text {
    margin: 0%;
    padding: 0%;
  }

  .myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size:18px;
	padding:9px 40px 9px 19px;
	text-decoration:none;
    margin-top: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .myButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .myButton:hover span {
    padding-right: 25px;
  }
  
  .myButton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .card {
    color: #e3e3e3;
    border: transparent;
    padding-bottom: 20px;
}

.btn-group {
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu {
    background-color: transparent !important;
    border: 1px solid #fff !important;
    border-radius: 0% !important;
}


.dropdown-menu .dropdown-item {
    color: #ffffff50 !important;
    background-color: transparent !important;
  }
  
  
  .dropdown-menu:hover .dropdown-item {
      color: #ffffff50 !important;
      background-color: transparent !important;
  }
  .dropdown-menu .dropdown-item:hover {
      color: #fff !important;
      background-color: transparent !important;
  }

  .dropdown:hover .contactActive {
    color: #fff;
    border-bottom-color: #fff;
}

.dropdown-divider {
    border-color: #fff !important;
}

.lists {
    text-align: left;
    display: inline-block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    vertical-align: top;
    margin-right: 20px;
    margin-left: 20px;
}

.lists h3 {
    font-size: 1.5em;
    margin-left: 1rem;
  }

.subList {
    font-size: 12px !important;
    font-weight: 200;
}
  
li:hover {
    text-shadow: 0px 0px 0px #000000, 0px 0px 1px #000000, 0px 0px 2px #000000, 0px 0px 3px #000000, 0px 0px 1px #000000, 0px 0px 4px #000000, 0px 0px 5px #000000, 0px 0px 10px #000000 , 0px 0px 10px #000000 , 0px 0px 15px #000000, 0px 0px 16px #000000 , 0px 0px 20px #000000 , 0px 0px 30px #000000;
}